<section class="h-100 h-custom" style="background-color: #8fc4b7;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
            class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
            alt="Sample photo">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Registration Info</h3>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

              <div class="form-outline mb-4">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                <%= f.label :email, class: "form-label" %>
              </div>
              <div class="form-outline mb-4">
                <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "form-control" %>
                <%= f.label :username, class: "form-label" %>
              </div>
              <div class="form-outline mb-4">
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password", class: 'form-control'%>
                <%= f.label :password, class: 'form-label' %>
              </div>
              <div class="form-outline mb-4">
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
                <%= f.label :password_confirmation, class: 'form-label' %>
              </div>
              <%= f.submit "Sign up", class: "btn btn-success btn-lg mb-1" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render "devise/shared/links" %>
