<div class="container">
  <div class="row">
    <div class="col">
      <h2>Users</h2>
      <% @users.each do |user| %>
        <h4><%= link_to user.username, '#' %></h4>
      <% end %>
    </div>
  </div>
  <div class="row">
    <h2>Rooms</h2>
    <div class="col">
      <%= form_for @room do |f| %>
        <div class="input-group mb-3">
            <%= f.text_field :name, class: 'form-control' %>
            <%= f.submit class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <% @rooms.each do |room| %>
        <%= link_to room.name, room_path(room) %>
      <% end %>
    </div>
  </div>
</div>
